<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value="Минск (MSQ), BY"/>
    <add key="ArrivalCity" value="Москва (MOW), RU"/>
        
    <add key="ReservationCode" value="123456"/>
    <add key="PassengerName" value="SHKATULO"/>
    <add key="MemberId" value="10012476876"/>
    <add key="Password" value="V7H4C6"/>


    <add key="FirstName" value="ARTEM"/>
    <add key="LastName" value="SHKATULO"/>
    <add key="DateOfBirth" value="28042000"/>
    <add key="DateOfBirthChild" value="28042015"/>
    <add key="DocumentNumber" value="2222222"/>
    <add key="PhoneNumber" value="1020617"/>
    <add key="Email" value="shkatulo.2017@gmail.com"/>
    <add key="ConfirmEmail" value="shkatulo.2017@gmail.com"/>    
  </appSettings>
</configuration>